
  .offering {
    .container {
      max-width: 1030px;
      padding: 0 0 140px;
    }
    .offering-container {
      position: relative;
    }
    .img-container {
      width: 55%;
    }
    .text-container {
      width: 70%;
      right: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .text-container-alt {
        position: relative;
        padding: 45px;
        width: 100%;        
      }
    }

    @media (max-width: 991px) {
      .img-container {
        width: 100%;
      }
      .text-container {
        width: 100%;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        .text-container-alt {
          padding: 0;
        }
      }
    }

    .container-alt {
      padding: 0 0 70px;
    }
  }
  